uni2/esquema_node_red.json
[
  {
    "id": "1",
    "type": "tab",
    "label": "Monitoramento de Incêndio"
  },
  {
    "id": "tempHum",
    "type": "mqtt in",
    "z": "1",
    "name": "Sensor Temp/Hum",
    "topic": "sensor/dht",
    "qos": "0",
    "datatype": "json",
    "broker": "mqtt-broker",
    "x": 140,
    "y": 100,
    "wires": [["gaugeTemp", "gaugeHum", "grafico"]]
  },
  {
    "id": "presenca",
    "type": "mqtt in",
    "z": "1",
    "name": "Sensor Presença",
    "topic": "sensor/presenca",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt-broker",
    "x": 140,
    "y": 180,
    "wires": [["indicadorPresenca", "verificaAlerta"]]
  },
  {
    "id": "gaugeTemp",
    "type": "ui_gauge",
    "z": "1",
    "name": "Temperatura",
    "group": "grupo",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Temperatura (°C)",
    "label": "°C",
    "format": "{{msg.payload.temperatura}}",
    "min": 0,
    "max": 100,
    "x": 400,
    "y": 80,
    "wires": []
  },
  {
    "id": "gaugeHum",
    "type": "ui_gauge",
    "z": "1",
    "name": "Umidade",
    "group": "grupo",
    "order": 2,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Umidade (%)",
    "label": "%",
    "format": "{{msg.payload.umidade}}",
    "min": 0,
    "max": 100,
    "x": 400,
    "y": 120,
    "wires": []
  },
  {
    "id": "grafico",
    "type": "ui_chart",
    "z": "1",
    "name": "Gráfico Temp",
    "group": "grupo",
    "order": 3,
    "width": 0,
    "height": 0,
    "label": "Temperatura ao longo do tempo",
    "chartType": "line",
    "legend": "false",
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "",
    "ymin": "0",
    "ymax": "100",
    "removeOlder": 1,
    "removeOlderPoints": "",
    "removeOlderUnit": "3600",
    "cutout": 0,
    "useOneColor": false,
    "colors": ["#ff0000", "#00b500"],
    "x": 410,
    "y": 160,
    "wires": [[]]
  },
  {
    "id": "indicadorPresenca",
    "type": "ui_text",
    "z": "1",
    "group": "grupo",
    "order": 4,
    "width": 0,
    "height": 0,
    "name": "Presença",
    "label": "Presença Detectada",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 420,
    "y": 200,
    "wires": []
  },
  {
    "id": "verificaAlerta",
    "type": "function",
    "z": "1",
    "name": "Verifica Alerta",
    "func": "// Simula alerta quando presença e temperatura alta\nconst temp = flow.get('ultimaTemp') || 0;\nconst presenca = msg.payload;\n\nif (presenca === '1' && temp > 50) {\n    return { payload: '🔥 ALERTA DE INCÊNDIO!' };\n} else {\n    return { payload: 'Sem alerta' };\n}",
    "outputs": 1,
    "noerr": 0,
    "x": 430,
    "y": 240,
    "wires": [["alertaTexto"]]
  },
  {
    "id": "alertaTexto",
    "type": "ui_text",
    "z": "1",
    "group": "grupo",
    "order": 5,
    "width": 0,
    "height": 0,
    "name": "Alerta",
    "label": "Status de Alerta",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 440,
    "y": 280,
    "wires": []
  },
  {
    "id": "mqtt-broker",
    "type": "mqtt-broker",
    "name": "MQTT Broker Local",
    "broker": "localhost",
    "port": "1883"
  },
  {
    "id": "grupo",
    "type": "ui_group",
    "name": "Monitoramento",
    "tab": "aba",
    "order": 1,
    "disp": true,
    "width": "6"
  },
  {
    "id": "aba",
    "type": "ui_tab",
    "name": "Painel Incêndio",
    "icon": "dashboard",
    "order": 1
  }
]
