uni3/flows.json
[{"id":"b1e1e6f6.8a22d8","type":"tab","label":"Fluxo de Teste Dashboard","disabled":false,"info":""},{"id":"88f82a70b8790902","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#04effb","baseFont":"Lucida Sans Typewriter,Lucida Console,Monaco,monospace","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":true},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"65732a89565fdec2","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":1883,"clientid":"mqttx_d5221480","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"391da7d647beb8ec","type":"mqtt-broker","name":"","broker":"10.7.221.202","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"ed25830307bfc6c5","type":"mqtt-broker","name":"","broker":"10.7.221.230","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"c0754d33f84d8d1c","type":"mqtt-broker","name":"teste","broker":"10.7.221.202","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"c1cabacdc0f01702","type":"ui_tab","name":"Titulo","icon":"dashboard","disabled":false,"hidden":false},{"id":"b59aef9548ab9cea","type":"ui_group","name":"HumidGuard","tab":"c1cabacdc0f01702","order":1,"disp":false,"width":"27","collapse":false,"className":""},{"id":"37ba2f706627354f","type":"ui_tab","name":"Titulo cards","icon":"dashboard","disabled":true,"hidden":false},{"id":"338594866ad72048","type":"ui_group","name":"Cards","tab":"37ba2f706627354f","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"cc47fbfd63effab5","type":"ui_spacer","z":"b1e1e6f6.8a22d8","name":"spacer","group":"b59aef9548ab9cea","order":6,"width":27,"height":1},{"id":"751bb5e37c6ce550","type":"ui_template","z":"b1e1e6f6.8a22d8","group":"b59aef9548ab9cea","name":"","order":1,"width":0,"height":0,"format":"<style>\n    .painel {\n        display: grid;\n        grid-template-columns: repeat(2, 1fr);\n        gap: 10px;\n    }\n    .flex{\n        display: flex;\n        justify-content: center;\n        aling-items: center;\n    }\n    .title{\n        font-size: 30px;\n    }\n</style>\n\n<div class=\"flex\">\n    <h1 class=\"title\">DADOS DO LEITO</h1>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":500,"y":180,"wires":[[]]},{"id":"585eaee98a4792d0","type":"ui_gauge","z":"b1e1e6f6.8a22d8","name":"","group":"b59aef9548ab9cea","order":4,"width":13,"height":5,"gtype":"gage","title":"","label":"%","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"teste","x":270,"y":240,"wires":[]},{"id":"9e8776b5d74b56b5","type":"ui_text","z":"b1e1e6f6.8a22d8","group":"b59aef9548ab9cea","order":2,"width":13,"height":1,"name":"","label":"UMIDADE DO COLCHÃO","format":"{{msg.payload}}","layout":"row-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":450,"y":240,"wires":[]},{"id":"0c64d9f38d97c1a9","type":"ui_gauge","z":"b1e1e6f6.8a22d8","name":"","group":"b59aef9548ab9cea","order":10,"width":13,"height":4,"gtype":"donut","title":"","label":"%","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":470,"y":620,"wires":[]},{"id":"685720804b731a17","type":"ui_gauge","z":"b1e1e6f6.8a22d8","name":"","group":"b59aef9548ab9cea","order":11,"width":14,"height":4,"gtype":"donut","title":"","label":"Cº","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":770,"y":620,"wires":[]},{"id":"b7535e5e2153f8a0","type":"ui_text","z":"b1e1e6f6.8a22d8","group":"b59aef9548ab9cea","order":9,"width":14,"height":1,"name":"","label":"Umidade (%)","format":"{{msg.payload}}","layout":"row-center","className":"","style":true,"font":"Lucida Sans Unicode,Lucida Grande,sans-serif","fontSize":"30","color":"#000000","x":490,"y":560,"wires":[]},{"id":"b9ad288a5851cda7","type":"ui_text","z":"b1e1e6f6.8a22d8","group":"b59aef9548ab9cea","order":8,"width":13,"height":1,"name":"","label":"Temperatura Cº","format":"{{msg.payload}}","layout":"row-center","className":"","style":true,"font":"Lucida Sans Typewriter,Lucida Console,Monaco,monospace","fontSize":"30","color":"#000000","x":800,"y":560,"wires":[]},{"id":"d06ce8390afdba40","type":"ui_template","z":"b1e1e6f6.8a22d8","group":"b59aef9548ab9cea","name":"Alarme","order":5,"width":14,"height":3,"format":"<style>\n  .alarme {\n    padding: 20px;\n    text-align: center;\n    font-size: 2em;\n    font-weight: bold;\n    border-radius: 10px;\n    color: white;\n    animation: none;\n  }\n\n  .normal {\n    background-color: green;\n  }\n\n  .alerta {\n    background-color: orange;\n  }\n\n  .critico {\n    background-color: red;\n  }\n\n  .piscar {\n    animation: piscar 1s infinite;\n  }\n\n  @keyframes piscar {\n    0% {\n      opacity: 1;\n    }\n\n    50% {\n      opacity: 0.2;\n    }\n\n    100% {\n      opacity: 1;\n    }\n  }\n</style>\n\n<div id=\"visor\" class=\"alarme {{classe}}\">\n  {{mensagem}}\n</div>\n\n<script>\n  (function(scope) {\n    scope.$watch('msg.payload', function(valor) {\n      let visor = document.getElementById(\"visor\");\n\n      // Resetar classes\n      visor.className = \"alarme\";\n\n      if (valor === \"OK\") {\n        scope.mensagem = \"Sistema operacional\";\n        scope.classe = \"normal\";\n      } else if (valor === \"ATENÇÃO\") {\n        scope.mensagem = \"Verifique o sistema\";\n        scope.classe = \"alerta piscar\";\n      } else if (valor === \"CRÍTICO\") {\n        scope.mensagem = \"ALERTA CRÍTICO!\";\n        scope.classe = \"critico piscar\";\n      } else {\n        scope.mensagem = \"Estado desconhecido\";\n        scope.classe = \"alerta\";\n      }\n    });\n  })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":720,"y":340,"wires":[[]]},{"id":"e39a034371056a5b","type":"ui_template","z":"b1e1e6f6.8a22d8","group":"b59aef9548ab9cea","name":"Situação","order":3,"width":14,"height":3,"format":"<style>\n  .leito-visor {\n    padding: 20px;\n    text-align: center;\n    font-size: 1.8em;\n    font-weight: bold;\n    border-radius: 10px;\n    color: white;\n    background-color: gray;\n    transition: background-color 0.3s ease;\n  }\n\n  .leito-ok {\n    background-color: green;\n  }\n\n  .leito-chamado {\n    background-color: yellow;\n    color: black;\n  }\n\n  .leito-atendimento {\n    background-color: red;\n  }\n</style>\n\n<div id=\"leito\" class=\"leito-visor {{classe}}\">\n  {{mensagem}}\n</div>\n\n<script>\n  (function(scope) {\n    scope.$watch('msg.payload', function(valor) {\n      let leito = document.getElementById(\"leito\");\n\n      // Reset\n      leito.className = \"leito-visor\";\n\n      if (valor == 1) {\n        scope.mensagem = \"Em atendimento\";\n        scope.classe = \"leito-ok\";\n      } else if (valor == 2) {\n        scope.mensagem = \"Chamado Feito!\";\n        scope.classe = \"leito-chamado\";\n      } else if (valor == 3) {\n        scope.mensagem = \"Leito sem enfermeira!\";\n        scope.classe = \"leito-atendimento\";\n      } else {\n        scope.mensagem = \"Status desconhecido\";\n        scope.classe = \"\";\n      }\n    });\n  })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":720,"y":280,"wires":[[]]},{"id":"a6df28c80757a6b3","type":"inject","z":"b1e1e6f6.8a22d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"1","payload":"1","payloadType":"str","x":410,"y":280,"wires":[["e39a034371056a5b"]]},{"id":"c814ae28288c6c91","type":"ui_template","z":"b1e1e6f6.8a22d8","group":"b59aef9548ab9cea","name":"Dados Gerais","order":7,"width":0,"height":0,"format":"<style>\n    .painel {\n        display: grid;\n        grid-template-columns: repeat(2, 1fr);\n        gap: 10px;\n    }\n    .flex{\n        display: flex;\n        justify-content: center;\n        aling-items: center;\n    }\n    .title{\n        font-size: 30px;\n    }\n</style>\n\n<div class=\"flex\">\n    <h1 class=\"title\">DADOS DO QUARTO</h1>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":660,"y":500,"wires":[[]]},{"id":"939811271b7f62f9","type":"inject","z":"b1e1e6f6.8a22d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"OK","payload":"OK","payloadType":"str","x":410,"y":400,"wires":[["d06ce8390afdba40"]]},{"id":"96f28b22ecb0cb76","type":"inject","z":"b1e1e6f6.8a22d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ATENÇÃO","payloadType":"str","x":400,"y":440,"wires":[["d06ce8390afdba40"]]},{"id":"f67f3dcf3285615f","type":"inject","z":"b1e1e6f6.8a22d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"CRÍTICO","payloadType":"str","x":400,"y":480,"wires":[["d06ce8390afdba40"]]},{"id":"91ad021dc27b740b","type":"inject","z":"b1e1e6f6.8a22d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"1","payload":"2","payloadType":"str","x":410,"y":320,"wires":[["e39a034371056a5b"]]},{"id":"94ed07fa0eded36e","type":"inject","z":"b1e1e6f6.8a22d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"1","payload":"3","payloadType":"str","x":410,"y":360,"wires":[["e39a034371056a5b"]]}]